# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wgudokasudijxgvtzewp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndndWRva2FzdWRpanhndnR6ZXdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODQ4OTYsImV4cCI6MjA5MDQ2MDg5Nn0.fCH2AUnNtkVeF_XtGQooxnmFeBjrKPVRY1SoyG4D9wY
SUPABASE_SERVICE_ROLE_KEY=<vul in vanuit Supabase dashboard>

# Zernio
ZERNIO_API_KEY=sk_4561830e0be4ccf0382b56c91f0dbca50649d69a2b6d30b13bee70e3ac8f06f9
ZERNIO_INSTAGRAM_ACCOUNT_ID=69ca53996cb7b8cf4cb0fdf4
ZERNIO_FACEBOOK_ACCOUNT_ID=69ca54956cb7b8cf4cb1015c
